
.container {
    background: #999999;
    color: #666666;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article {
    overflow-x: hidden;
    margin: 2vw;
    border-radius: 12px;
    word-break: break-word;
    background: #ffffff;
    gap: 0;
    max-width: 400px;
    font-size: 14px;
 /* border: 1px solid red; */
}
.text {
    padding-left: 20px;
}

@media screen and (min-width: 700px) {
  .container {
      padding-top: 0;
      margin-top: 0;
      column-count: 2;
  }

}
@media screen and (min-width: 1000px) {
   .container {
      column-count: 3;
   }
   .caption {
      font-size: 1.2vw;
   }
}