html,
body {
  color: #aaaaaa;
  background: #000;
  padding: 0;
  margin: 0;
  font-family: 'Electrolize', sans-serif;
  line-height: 1.4;
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
i,
h1,
h2,
p,
ul {
  padding: 0 1vw;
  margin: 2vh 0;
  list-style-type: none;
}

ul {
  padding: 0;
}
li {
  padding: 1vh 1vw;
  list-style-type: square;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
section {
  width: 100%;
  padding: 0 2vw;
}

figure {
  background: #222222;
  margin: 0 2vw;
  padding-top: 1vw;
}
figcaption {
  font-family: electrolize;
  font-size: 2vw;
  padding: 2vw;
}

