.title  {
  color: #0070f3;
  text-decoration: none;
}
.greyBG {
    background: #111;
}
.container {
    width: 100%;
}

.wrap {
    display: grid;
    grid-template-columns: 1% 98% 1%;
}

@media screen and (min-width: 440px) {
  .wrap {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
}

@media screen and (min-width: 600px) {
  .wrap {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}
  .container {
    align-items: start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    background: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


.article {
    overflow-x: hidden;
    margin: 2vw;
    border-radius: 3px;
    word-break: break-word;
    background: #000000;
    padding: 1vw;
    gap: 0;
    max-width: 400px;
 /*   border: 1px solid red; */
}
  .text {
    diplay: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-size:16px;
    word-break: break-word;
  }
  .text b {
    color: #0070f3;
  }


@media screen and (min-width: 800px) {
/* tablet portrait
  keep single column layout just add padding on the left and right
*/
  .article {
    column-count: 2;
    column-gap: 20px;
    column-rule: 1px dotted #666666;
    padding-top: 10px;
    width: 90%;
    max-width: 850px;
  }
  .padding {
    margin: 20px;
    border-bottom: 1px dotted #999999;
  }

}
/*
@media screen and (min-width: 64em) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .article {
    width: 100%;
    max-width: 80em;
    border-left: 1px dotted #00f;
    border-right: 1px dotted #00f;
    display: grid;
    grid-template-columns: minmax(10em, 40em);
  }
}
*/
/*
@media screen and (min-width: 80em) {
/* wide screen - 2 columns */
/*
   .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  .article {
    max-width: 40em;
    border: 1px dashed #f00;
  }

}
*/
