@media screen and (max-width: 599px) {
  .wrap {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
}

@media screen and (min-width: 600px) {
  .wrap {
    display: grid;
    grid-template-columns: 20% 80%;
  }
}
@media screen and (min-width: 700px) {
  .container {
      padding-top: 0;
      margin-top: 0;
      column-count: 2;
  }

}
@media screen and (min-width: 1400px) {
   .container {
      column-count: 4;
   }
   .caption {
      font-size: 1.2vw;
   }
}